.petinfo {
    width: 100%;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: #309975;
}

.container {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.row {
    gap: 15px;
}

div.row a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}

a.petinfo {
    display: block;
    text-decoration: none;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .row {
        flex-direction: column
    }
}