.pet-list-holder {
    display:flex;
    flex-direction: column;
}

.pet-list-card {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.pet-list-card .pet-name {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.date-added {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    opacity: 0.8;
}

.pet-list-title {
    display: flex;
    margin-bottom: 10px;
}

.button-add-pet {
    margin-left: auto;
}

.pet-list-card:hover {
    background-color: rgba(240,240,240);
}

.pet-list-card img {
    height: 100%;
}

.pet-dropdown {
    justify-self: right;
    margin-left: auto;
}

.pet-dropdown::after {
    content: none
}

.management-title {
    text-align: center;
}
hr {
    border: 0;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.mb-3 textarea{
    height: 10rem;
}

.applicants-card-holder {
    display: flex;
    flex-direction: column;
}

.applicants-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    gap: 15px;
}

.applicants-card:hover {
    background-color: rgba(240,240,240);
    color: black;
}

.applicant-name {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
}

.applicant-message {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .pet-list-title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .button-add-pet {
        margin: 0;
    }
}