body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}
.cardImgTop {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none !important;
    max-width: 18rem;
	margin-right: 20px;
}
.dropdown-toggle::after {
    display: none !important;
}

a.navbar-brand:hover {
}

a.nav-link:hover {
}



.filter {
	width: 15%;
	background-color: #F0FFFF ;
}



footer {
	background-color: #F0FFFF ;
	color: #309975;
}

#username {
	margin-bottom: 0;
	margin-right: 1rem;
}

.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: #309975;
  border-color: #309975;
  border: 0;
}

.btn.btn-primary:active,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #309975;
  border-color: #309975;
  border: 0;
  filter: brightness(120%);
}

.btn.btn-primary:hover {
	background-color: #108965;
}


.petinfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	color: #309975;
}

.filter .dropdown {
	margin-bottom: 20px;
}

main {
	background-color: #F0FFFF ;
	min-height: 100vh;
}


a.petinfo {
	text-decoration: none;
}

.petinfo ul {
	list-style-type: none;
}

.mobilefilters {
	display: none;
}

.page-container {
	padding-top: 90px;
}

.small-screen {
	display: none;
}

div.row ul {
	align-self: start;
}

div.row a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 500px) {
	.filter {
		display: none !important;
	}

	header {

	}
	.card {
		margin-bottom: 20px;
		margin-right: 0;
	}

    .row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#searchparams {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	#searchparams > div {
		display: none;
	}	


	.mobilefilters {
		display: revert;
	}

	.page-container {
        padding: 50px;
		padding-top: 110px;
    }
	.big-screen {
        display: none;
    }

    .small-screen {
        display: inline-block !important;
    }


}
