.star-rating > .bright {
    color: orange;
}

/*https://css-tricks.com/examples/hrs/*/
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.shelter-name {
    font-size: 3rem;
    grid-area: name;
}

.page-button {
    text-decoration: none;
}

.shelter-title {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'name location'
                         'stars right';
    margin-bottom: 20px;
}

.shelter-location {
    margin: 0;
    grid-area: location;
    align-self: center;
    justify-self: right;
}

.star-rating {
    grid-area: stars;
}

.star-rating .btn-link {
    color: #309975;
    padding: 0;
}

.review-username {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.review-text {
    border-bottom: solid black 2px;
    padding-bottom: 15px;
}

.contact-information {
    border: solid #309975 1px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-information p {
    margin: 0;
    padding: 0;
}

.pets-card {
    width: 30%;
}

.shelter-pets-holder {
    border-radius: 10px;
    margin-top: 50px;
    box-sizing: border-box;
}

.shelter-pets-title {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #309975;
}

.shelter-pets {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.pet-name {
    text-align: center;
}

.card-body a {
    display: flex;
    justify-content: center;
}

.back-button-footer {
    text-decoration: none;
    color: var(--bs-btn-hover-bg);
}

@media screen and (max-width: 500px ) {
    .shelter-title {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .pets-card {
        width: 100%;
    }
}